@page "/"
@page "/product/featured"

@inject IProductService ProductService

<PageTitle>Achievement Unlocked</PageTitle>

<div class="container">
    <!-- carousel Start -->
    @if (product == null || product.Count == 0)
    {
        <h2>Welcome to Achievement Unlocked</h2>
    }
    else
    {
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var product in product)
                {
                    <div class="carousel-item">
                        <img src="Images/Products/@product.Image" class="d-block w-100" alt="Images/Products/@product.Image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Name</h5>
                            <p>@product.Description</p>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
</div>
<!-- carousel End -->
<!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h1 class="display-4 text-uppercase">Our Partners</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid flex-shrink-0" src="img/Asus ROG.png" style="width: 80px; height: 60px;">
                        <div class="ps-3">
                            <h4 class="text-primary text-uppercase mb-1">Asus ROG</h4>
                            <span>Sponsor</span>
                        </div>
                    </div>
                    <p class="mb-0">Technology never sleeps, nor should the action. For those keen on winning power, the republic of Gamers awaits.
                    </p>
                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid flex-shrink-0" src="img/Corsair.png" style="width: 100px; height: 60px;">
                        <div class="ps-3">
                            <h4 class="text-primary text-uppercase mb-1">Corsair</h4>
                            <span>Sponsor</span>
                        </div>
                    </div>
                    <p class="mb-0">Esports pros rely on gear that plays as hard as they do, which is why players around the world trust CORSAIR.
                    </p>
                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid flex-shrink-0" src="img/Logitech.png" style="width: 80px; height: 60px;">
                        <div class="ps-3">
                            <h4 class="text-primary text-uppercase mb-1">Logitech</h4>
                            <span>Sponsor</span>
                        </div>
                    </div>
                    <p class="mb-0">Logitech G sponsors teams that strive to play with nothing holding them back. Game with Logitech.
                    </p>
                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid flex-shrink-0" src="img/Red bull.png" style="width: 80px; height: 60px;">
                        <div class="ps-3">
                            <h4 class="text-primary text-uppercase mb-1">Red Bull </h4>
                            <span>Sponsor</span>
                        </div>
                    </div>
                    <p class="mb-0">Level up with the latest games and Esports news, reviews and films. Redbull gives gamers wings.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
@code {
    private List<Product>? product = null;

    protected override async Task OnInitializedAsync()
    {
        await GetFeaturedProducts();
    }

    private async Task GetFeaturedProducts()
    {
        var result = await ProductService.GetFeaturedProducts();
        product = result.Data;

    }

}
