@page "/login"

@inject LoginViewModel _loginViewModel
@inject NavigationManager _navigationManager


<h2>Login</h2>
<hr/>

<EditForm Model="loginViewModel" OnSubmit="LoginUser">
    <div class="col-6">
        <input type="text" @bind="_loginViewModel.Email" class="form-control" placeholder="Email address"/>
    </div>
    <br/>
    <div class="col-6">
        <input type="password" @bind="_loginViewModel.Password" class="form-control" placeholder="Password"/>
    </div>
    <br/>
    <div class="col-6">
        <button class="btn btn-primary" @onclick="LoginUser">Login</button>
    </div>
</EditForm>


@code
{
    private LoginViewModel loginViewModel = new LoginViewModel();

    public async Task LoginUser()
    {
        await _loginViewModel.LoginUser();
        _navigationManager.NavigateTo("/", true);
    }
}
