@page "/news"
<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">News and AU blog</h1>
            <span>Latest news from the world of Esports, as well as updates from us here at Achievement Unlocked.</span>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h1 class="display-4 text-uppercase">Latest esports News</h1>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news2.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">Blog</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">Latest AU website</h5>
                                <span>Our new site has launched. For a full list of features, read this quick 5 minute update.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news1.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">News</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">New Champion</h5>
                                <span>A new champoin has stepped up for the hit videogame Alice in Videoland (1984) For the N64.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news4.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">News</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">Forces Challenge</h5>
                                <span>Representatives from the British Armed Forces have stepped up to establish the finest CSGO team. Watch highlights here.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news3.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">Blog</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">Festival of gamers</h5>
                                <span>Five thousand gamers have got together to game and party at Insomnia at the NEC Arena in Birmingham.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news5.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">News</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">Fnatic has a new secret weapon</h5>
                                <span>Fnatic Esports have been hinting at a new player who is set to change the face of Esports. find out more here with an exclusive AU article.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex h-100">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" src="Images/general/news6.jpg" alt="" style="width: 150px; height: 85px; object-fit: cover;">
                                <h4 class="bg-dark text-primary p-2 m-0">Tech</h4>
                            </div>
                            <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                <h5 class="text-uppercase">New Tech for Esports</h5>
                                <span>A big brand in the tech world has teased new controllers aimed at Esports enthusiasts. get the latest here. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products End -->

            <!-- Offer Start -->
            <div class="container-fluid bg-offer my-5 py-5">
                <div class="container py-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-7 text-center">
                            <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                                <h1 class="display-4 text-uppercase text-white">Did we miss something?</h1>
                            </div>
                            <p class="text-white mb-4">
                                Is there news that we missed? Or mistakes in our reporting? Here at Achievement Unlocked,
                                we pride ourselves in up to date and factual news. If you spot something we missed, please let us know below so we can keep to our high standards.
                            </p>
                            <a href="" class="btn btn-primary border-inner py-3 px-5 me-3">Suggest News</a>
                            <a href="" class="btn btn-dark border-inner py-3 px-5">Correct errors</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offer End -->
        </div>
    </div>
</div>