@page "/profile"
@inject ProfileViewModel _profileViewModel

<h3>User</h3>

<div class="col-12">
    <input type="text" @bind-value="_profileViewModel.FirstName" class="form-control" placeholder="First name">
    <br/>
    <input type="text" @bind-value="_profileViewModel.LastName" class="form-control" placeholder="Last name">
    <br/>
    <input type="text" @bind-value="_profileViewModel.Email" class="form-control" placeholder="Email address">
    <br/>
    <button class="btn btn-primary" @onclick="_profileViewModel.UpdateProfile">Update Profile</button>
    <span>&nbsp;&nbsp;</span>@_profileViewModel.Message
</div>

@code
{
    protected override async Task OnInitializedAsync() => await _profileViewModel.GetProfile();
}
