@page "/profile"
@using System.Security.Claims
@inject ProfileViewModel _profileViewModel
@inject NavigationManager _navigationManager

<h3>User</h3>

<div class="col-12">
    <input type="text" @bind-value="_profileViewModel.FirstName" class="form-control" placeholder="First name">
    <br/>
    <input type="text" @bind-value="_profileViewModel.LastName" class="form-control" placeholder="Last name">
    <br/>
    <input type="text" @bind-value="_profileViewModel.Email" class="form-control" placeholder="Email address">
    <br/>
    <button class="btn btn-primary" @onclick="_profileViewModel.UpdateProfile">Update Profile</button>
    <span>&nbsp;&nbsp;</span>@_profileViewModel.Message
</div>

@code
{
    [CascadingParameter]

    public Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var claim = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
            _profileViewModel.Id = Convert.ToInt64(claim?.Value);
            await _profileViewModel.GetProfile();
        }
        else
        {
            _navigationManager.NavigateTo("/login");
        }

        
    } 
}
