@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient;

<div class="page">
    <NavMenu/>
    <main>
        <Search/>
        <CartCounter/>
        
        <article class="content px-4">
            @Body
        </article>
       
    </main>
    <Footer/>
</div>

@code
{

    private async Task LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/", true);
    }

    private void LoginUser()
    {
        _navigationManager.NavigateTo("/login", true);
    }
}
